
    <div class="l__header">
        <div class="nav grid wide">
            <div>
                <a href="/" class="header__logo">Home</a>
            </div>
            <ul class="header__list">
                <li class="header__item"><a href="/create" class="header__link">Create</a></li>
                <li class="header__item"><a href="" class="header__link">Update</a></li>
                <li class="header__item"><a href="/auth/register" class="header__link">Register</a></li>
                <li class="header__item"><a href="/auth/login" class="header__link">Login</a></li>
            </ul>
        </div>
    </div>
