<div class="grid wide">
    <div class="row">
        <div class="col c-12">
            <h1>Register</h1>

            <div class="form">
                <form action="/auth/login" method="POST">
                    
                    <label for="email">Email</label>
                    <input type="text" name="email">
                   

                    <label for="password">PassWord</label>
                    <input type="password" name="password">

                     <button type="submit" class="btn">Register</button>
                </form>

            </div>
        </div>
    </div>
</div>